<% if (theme.addthis.enable){ %>
  <div class="addthis addthis_toolbox addthis_default_style">
    <% if (theme.addthis.facebook){ %>
      <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
    <% } %>
    <% if (theme.addthis.twitter){ %>
      <a class="addthis_button_tweet"></a>
    <% } %>
    <% if (theme.addthis.google){ %>
      <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
    <% } %>
    <% if (theme.addthis.pinterest){ %>
      <a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
    <% } %>
    <a class="addthis_counter addthis_pill_style"></a>
  </div>
  <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style">
        <span class="jiathis_txt">分享到：</span>
        <a class="jiathis_button_icons_1"></a>
        <a class="jiathis_button_icons_2"></a>
        <a class="jiathis_button_icons_3"></a>
        <a class="jiathis_button_icons_4"></a>
        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
        <a class="jiathis_counter_style"></a>
    </div>
    <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
    <!-- JiaThis Button END -->
<% } %>