#footer
  color color-meta
  margin-bottom 50px
  font 0.9em/1.6 font-title
  text-shadow 0 0 1px #fff
  margin-top: 10px
  .icon
    width 32px
    height 32px
  .github
    &:before
      content "\f09b"